body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

code {
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    background: #121212;
    padding: 30px;
    height: 100vh;
}

.todo-list {
    background: #181818;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
}

#app-title {
    color: #fff
}

.todo {
    color: #fff;
    background: #1F1F1F;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 18px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo:hover {
    color: #ee0000;
}

.input {
    color: #fff;
    background: #303030;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 18px;
}